[user]
	name = Øystein Walle
	email = oystwa@gmail.com
[color]
	ui = auto
[diff]
	tool = vimdiff
[core]
	editor = vim
	excludesfile = /home/osse/.gitignore
	pager = less -FSRX
[log]
	decorate = true
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
	fuckit = reset --hard
	lg = log --graph --branches --oneline --date-order
	lgg = log --graph --all --oneline --date-order
	lgup = log --graph --oneline --date-order HEAD @{u}
	sdiff = diff --staged
	amend = commit --amend -C HEAD
	rcont = rebase --continue
[push]
	default = upstream
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = oystwa@gmail.com
	smtpserverport = 587
