# if running bash
# zsh reads .zshrc regardless
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
	. "$HOME/.bashrc"
    fi
fi

export EDITOR=nvim
export SUDO_EDITOR=$EDITOR
export BROWSER=firefox
export GCC_COLORS=1
export CARGO_TARGET_DIR=$HOME/.cache/cargo_target_dir

prefix_path() {
    case ":$PATH:" in
        *:"$1":*)
            ;;
        *)
            PATH="$1:$PATH"
            ;;
    esac
}

for bin in $HOME/.fzf/bin $HOME/.cargo/bin $HOME/.local/*/bin $HOME/.local/bin; do
    [ -d "$bin" ] && prefix_path "$bin"
done

{{ if eq .chezmoi.os "windows" }}
for bin in /c/tools/neovim/nvim-win64/bin /c/ProgramData/chocolatey/bin "/c/Program Files/CMake/bin" /mingw64/bin; do
    [ -d "$bin" ] && prefix_path "$bin"
done

export MANPATH="/mingw64/share/man:$MANPATH"
export MSYS2_ARG_CONV_EXCL=':/*'
export COLUMNS
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.state
{{ end }}

unset -f prefix_path
