# Misc
set-option        -g default-terminal "tmux-256color"
set-option        -g base-index       1
set-option        -s escape-time      25
set-window-option -g pane-base-index  1
set-option        -g mouse            on

# Status line
set-option        -g status-justify   centre
set-option        -g status-left      'Pane #P'
set-option        -g status-right     ''
set-window-option -g window-status-format '  #I: #W#{?window_flags,#{window_flags}, }  '
set-window-option -g window-status-current-format '  #I: #W#{?window_flags,#{window_flags}, }  '
set-window-option -g window-status-separator '  '

# Vi!
set-option        -g status-keys vi
set-window-option -g mode-keys   vi

# Colors
set-window-option -g pane-active-border-style     bg=colour237,fg=colour243
set-window-option -g pane-border-style            bg=black,fg=colour243
set-option        -g status-style                 bg=colour234,fg=white
set-window-option -g window-status-current-style  fg=black,bg=green
set-window-option -g window-status-style          bg=colour236,fg=white
set-option        -g status-left-style            bg=green,fg=black
set-window-option -g window-active-style          bg=colour233

# Key bindings
bind-key | split-window -h -c '#{pane_current_path}'
bind-key - split-window -v -c '#{pane_current_path}'
bind-key c new-window -c '#{pane_current_path}'
bind-key C new-window -c '#{pane_current_path}' '\;' command-prompt "rename-window '%%'"
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi V send-keys -X rectangle-toggle
bind-key -T copy-mode-vi y send-keys -X copy-selection
bind-key p paste-buffer
bind-key b last-pane
bind-key r source ~/.tmux.conf
bind-key s set-window-option synchronize-panes

# Key bindings for quickly changing panes and windows without prefix
bind-key -n M-w select-pane -U
bind-key -n M-W select-pane -t':.{top}'
bind-key -n M-a select-pane -L
bind-key -n M-A select-pane -t':.{left}'
bind-key -n M-s select-pane -D
bind-key -n M-S select-pane -t':.{bottom}'
bind-key -n M-d select-pane -R
bind-key -n M-D select-pane -t':.{right}'
bind-key -n M-1 select-window -t 1
bind-key M-1 send-keys M-1
bind-key -n M-2 select-window -t 2
bind-key M-2 send-keys M-2
bind-key -n M-3 select-window -t 3
bind-key M-3 send-keys M-3
bind-key -n M-4 select-window -t 4
bind-key M-4 send-keys M-4
bind-key -n M-5 select-window -t 5
bind-key M-5 send-keys M-5
bind-key -n M-6 select-window -t 6
bind-key M-6 send-keys M-6
bind-key -n M-7 select-window -t 7
bind-key M-7 send-keys M-7
bind-key -n M-8 select-window -t 8
bind-key M-8 send-keys M-8
bind-key -n M-9 select-window -t 9
bind-key M-9 send-keys M-9

# X11 clipboard integration
{{ if eq .chezmoi.os "windows" }}
bind-key x run "tmux save-buffer /dev/clipboard"
bind-key X run "tmux load-buffer /dev/clipboard"
{{ else }}
bind-key x run "tmux save-buffer - | xsel -ib"
bind-key X run "xsel -ob | tmux load-buffer -"
{{ end }}

# Kitty Ctrl-[Shift-]-Tab
set -s user-keys[0] "\e[1;5I"
set -s user-keys[1] "\e[1;6I"
bind-key -n User0 next-window
bind-key -n User1 previous-window

# Kitty Ctrl-N for switching subsessions
set -s user-keys[2] "\e[1;5q"
set -s user-keys[3] "\e[1;5r"
set -s user-keys[4] "\e[1;5s"
set -s user-keys[5] "\e[1;5t"
set -s user-keys[6] "\e[1;5u"
bind-key -n User2 send-keys M-1
bind-key -n User3 send-keys M-2
bind-key -n User4 send-keys M-3
bind-key -n User5 send-keys M-4
bind-key -n User6 send-keys M-5

{{ if eq .chezmoi.os "windows" }}
# MSYS2 cwd issue
set-environment -g CHERE_INVOKING 1
{{ end }}
